.clearFix{
  *zoom:1;
  &:after{
    content:'';
    clear:both;
    display: block;
  }
}
.bottom-border-1px{
  position:relative;
  &::before{
    content:'';
    position:absolute;
    z-index: 100;
    left:0;
    bottom: 0;
    width: 100%;
    height:1px;
    background-color: #eee;
    transform:scaleY(0.5);
  }
}
.top-border-1px{
  position:relative;
  &::before{
    content:'';
    position:absolute;
    z-index: 100;
    left:0;
    top: 0;
    width: 100%;
    height:1px;
    background-color: #eee;
    transform:scaleY(0.5);
  }
}
//省略号
.ellipsis{
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
//1px边框
//@media only screen and (-webkit-device-pixel-ratio:2 ){
//  .border-1px{
//    border:1px solid #eeeeee;
//    &::before{
//      border:1px solid #eeeeee;
//      transform:scaleY(.5)
//    }
//  }
//}
//
//@media only screen and (-webkit-device-pixel-ratio:3 ){
//  .border-1px{
//    &::before{
//      border:1px solid #eeeeee;
//      transform:scaleY(.333333)
//    }
//  }
//}

